@import "https://fonts.googleapis.com/css?family=Libre+Franklin:500,500i,600,700";
@media (max-width: 300px) {
  .medium, .large {
    display: none;
  }
}
@media (min-width: 301px) and (max-width: 500px) {
  .medium, .large {
    display: none;
  }
}
@media (min-width: 800px) and (max-width: 1099px) {
  .large {
    display: none;
  }

  .two-column.img-grid > div {
    height: 200px;
  }

  .three-column.img-grid > div {
    height: 210px;
  }
}
@media (min-width: 1100px) and (max-width: 1249px) {
  .large {
    display: none;
  }

  .two-column.img-grid > div {
    height: 250px;
  }

  .three-column.img-grid > div {
    height: 260px;
  }
}
@media (min-width: 1250px) {
  .img-grid > div {
    height: 300px;
  }
}
html {
  box-sizing: border-box;
  font-size: 18px;
  line-height: 1.5;
  font-family: 'Libre Franklin', sans-serif;
}

p {
  margin-top: 0;
  text-align: justify;
}

body, ul {
  margin: 0;
}

ul {
  padding: 0;
}

a {
  text-decoration: underline;
  font-weight: 600;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
a:hover {
  text-decoration: none;
}

a, a:visited {
  color: black;
}

.page {
  min-height: 100vh;
  padding: 108px 144px;
}
.page:nth-child(2n) {
  background: #fafafa;
}

img {
  max-height: 100%;
  width: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

.img-grid {
  margin-top: 4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
.img-grid > div {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.two-column.img-grid > div {
  width: 49%;
}
.two-column.img-grid > div:last-child img {
  float: right;
}

.three-column.img-grid > div {
  width: 32%;
}
.three-column.img-grid > div:last-child img {
  float: right;
}
.three-column.img-grid > div:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.landing {
  background: white;
  padding: 0;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  width: 700px;
}

.address-wrapper {
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 3em;
}

.logo {
  height: 200px;
}

.nameplate {
  height: 25%;
  margin-bottom: .5em;
}

.address {
  text-align: center;
  margin-top: .5em;
  font-weight: 600;
  font-size: 1em;
}

.social {
  display: none;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 40px;
  line-height: 40px;
  width: 700px;
}
.nav a {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-decoration: none;
  color: #6f6e6e;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
}
.nav a:hover {
  background-color: #eee;
}
.nav a.selected {
  color: #000;
}

.header-wrapper.after-scroll {
  left: 0;
  height: 40px;
  line-height: 40px;
  position: fixed;
  width: 100%;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
  box-shadow: 0px 1px 2px 0px #cacaca;
}
.header-wrapper.after-scroll .address-wrapper {
  display: none;
}
.header-wrapper.after-scroll .logo {
  height: 32px;
  margin-left: 56px;
  cursor: pointer;
}
.header-wrapper.after-scroll .nav {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.header-wrapper.after-scroll .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 1em;
  height: 40px;
}
.header-wrapper.after-scroll .social div a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1 1 0%;
  margin: 0 .5em;
  height: 40px;
}
.header-wrapper.after-scroll .social div:hover {
  background: #eee;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.header-wrapper.after-scroll .social svg {
  height: 1.2em;
}
.header-wrapper.after-scroll #shadow {
  display: none;
}
.header-wrapper.after-scroll .st1, .header-wrapper.after-scroll .st2 {
  fill: #000;
}

.hours {
  padding: 0 144px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.7em;
}
.hours .day {
  margin-right: 1em;
}
.hours .day li {
  font-weight: 700;
  text-align: right;
}
.hours ul {
  list-style-type: none;
}

.location .address {
  margin: 1em 0;
  text-align: left;
  display: block;
  font-weight: 600;
}
.location .map iframe {
  width: 100%;
  height: 500px;
}

.events img {
  float: left;
  height: 250px;
  margin: 0 1em 1em 0;
}
.events .event-title a {
  font-weight: 700;
}
.events .event-time {
  font-style: italic;
}
.events .upcoming {
  font-weight: 700;
  font-size: 1.3em;
  text-transform: uppercase;
  margin-bottom: 2em;
}

.hover .st1 {
  -webkit-animation: multicolor-dark 6s infinite;
          animation: multicolor-dark 6s infinite;
}
.hover .st2 {
  -webkit-animation: multicolor-light 6s infinite;
          animation: multicolor-light 6s infinite;
}
.hover #shadow {
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#shadow, .st1, .st2 {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@-webkit-keyframes multicolor-light {
  0% {
    fill: #eea0a5;
  }
  13% {
    fill: #edb00d;
  }
  25% {
    fill: #e2ed0d;
  }
  38% {
    fill: #85ed0d;
  }
  50% {
    fill: #0dedc3;
  }
  63% {
    fill: #63aaff;
  }
  75% {
    fill: #cba0ee;
  }
}

@keyframes multicolor-light {
  0% {
    fill: #eea0a5;
  }
  13% {
    fill: #edb00d;
  }
  25% {
    fill: #e2ed0d;
  }
  38% {
    fill: #85ed0d;
  }
  50% {
    fill: #0dedc3;
  }
  63% {
    fill: #63aaff;
  }
  75% {
    fill: #cba0ee;
  }
}
@-webkit-keyframes multicolor-dark {
  0% {
    fill: #b2345e;
  }
  13% {
    fill: #b2840a;
  }
  25% {
    fill: #aab20a;
  }
  38% {
    fill: #64b20a;
  }
  50% {
    fill: #0ab293;
  }
  63% {
    fill: #4b80c0;
  }
  75% {
    fill: #9978b3;
  }
}
@keyframes multicolor-dark {
  0% {
    fill: #b2345e;
  }
  13% {
    fill: #b2840a;
  }
  25% {
    fill: #aab20a;
  }
  38% {
    fill: #64b20a;
  }
  50% {
    fill: #0ab293;
  }
  63% {
    fill: #4b80c0;
  }
  75% {
    fill: #9978b3;
  }
}

/*# sourceMappingURL=styles.css.map */