@import 'https://fonts.googleapis.com/css?family=Libre+Franklin:500,500i,600,700';
@import 'normalize.scss';

$font-size: 18px;
$nav-height: 40px;
$h-padding: 8 * $font-size;
$v-padding: $nav-height + 2 * $font-size;
$nav-width: 75%;
$nav-font-weight: 600;
$nav-selected-font-weight: 600;
$nav-logo-height: $nav-height - 8;
$nav-background: #fff;
$nav-hover-background: #eee;
$page-background-even: #fafafa;




html {
    box-sizing: border-box;
    font-size: $font-size;
    line-height: 1.5;
    font-family: 'Libre Franklin', sans-serif;
}

p {
    margin-top: 0;
    text-align: justify;
}

body, ul {
    margin: 0;
}

ul {
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: underline;
    font-weight: 600;
    transition: 0.5s;

    &:hover {
        text-decoration: none;
    }
}

a, a:visited {
    color: black;
}

.page {
    min-height: 100vh;
    padding: $v-padding $h-padding;

    &:nth-child(2n) {
        background: $page-background-even;    
    }
}

img {
    max-width: 100%;
}

.img-grid {
    margin-top: 4em;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;

    & > div {
        max-width: 100%;
    }
}

.two-column.img-grid > div {
    width: 49%;

} 

.three-column.img-grid > div {
    width: 32%;
}

.landing {
    background: white;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.header-wrapper {
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-flow: row wrap;
    max-width: 700px;
    width: $nav-width;
}
.address-wrapper {
    height: 200px;
    padding-left: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 3em;
}

.logo {
    height: 200px;
}

.nameplate {
    height: 25%;
    margin-bottom: .5em;
}

.address {
    text-align: center;
    margin-top: .5em;
    font-weight: 600;
    font-size: 1em;
}

.social {
    display: none;
}

.nav {
    display: flex;
    justify-content: space-between;
    height: $nav-height;
    line-height: $nav-height;
    min-width: 500px;
    max-width: 700px;
    width: 100%;
    
    li {        
        text-align: center;
        flex-grow: 1;

        &:hover {
            background-color: $nav-hover-background;
        }

        &.selected a {
            color: #000;
            // font-weight: $nav-selected-font-weight;
        }
    }

    a {
        text-decoration: none;
        color: #6f6e6e;
        text-transform: uppercase;
        font-weight: $nav-font-weight;
        display: block;
        width: 100%;
        
    }
}

.header-wrapper.after-scroll {
    left: 0;
    z-index: 1;
    height: $nav-height;
    line-height: $nav-height;
    position: fixed;
    width: 100%;
    max-width: 100%;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    background: $nav-background;
    box-shadow: 0px 1px 2px 0px #cacaca;

    .address-wrapper {
        display: none;
    }
    
    .logo {
        // position: absolute;
        height: $nav-logo-height;
        margin-left: $h-padding/2 - $nav-logo-height/2;
        // margin-right: auto;
        cursor: pointer;
    }
    .nav {
        //horrible flexbox hack from http://stackoverflow.com/questions/32551291/in-css-flexbox-why-are-there-no-justify-items-and-justify-self-properties/33856609#33856609
        position: absolute;
        left: 50%;
        transform: translate(-50%,0);
        top: 0;
        width: $nav-width;
        min-width: 0;
    }

    .social {
        display: flex;
        margin-right: 1em;
        height: $nav-height;
        margin-left: auto;
        
        div {
            a {
                display: flex;
                justify-content: center;
                align-items: center;
                flex: 1; 
                margin: 0 .5em;
                height: $nav-height;
            }
         
            &:hover {
                background: $nav-hover-background; 
                transition: 0.3s;
            }
        }

        svg {
            height: 1.2em;
        }
    }

    #shadow {
        display: none;
    }

    .st1,.st2 {
        fill: #000;
    }
}


.hours {
    padding: 0 $h-padding;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7em;
    
    .day {
        margin-right: 1em;
    }

    .day li {
        font-weight: 700;
        text-align: right;
    }
}

.location {

    .address {
        margin: 1em 0;
        text-align: left;
        display: block;
        font-weight: 600;
    }

    .map iframe {
        width: 100%;
        height: 500px;
    }
}

.events {
    img {
        height: 250px;
        float: left;
        margin: 0 1em 1em 0;
    }

    .event-title a {
        font-weight: 700;
    }

    .event-time {
        font-style: italic;
    }

    .upcoming {
        font-weight: 700;
        font-size: 1.3em;
        text-transform: uppercase;
        margin-bottom: 2em;
    }
}

.contact {
    
    label {
        display: block;
        font-size: .8em;
    }

    textarea {
        width: 100%;
        height: 150px;
    }

    button {
        background: #fff;
        border-radius: 5px;
        border: 1px solid #000;
        cursor: pointer;

        &:hover, &:focus {
            background: rgba(212, 247, 175, 0.6);
            transition: 0.2s;
            outline: none;
        }
    }
} 

#subject {
    width: 100%;
}

input, textarea {
    margin: 0 0 5px 0;
    border: 1px solid #848484;
    border-radius: 5px;
    padding: 5px;
    box-sizing: border-box;

    &:focus {
        border: 2px solid #B9B9B9;
        outline: none;
        background: #FDFDFD;
    }
}


.contact-form-wrapper {
    display: flex;
    max-width: 600px;
    justify-content: flex-start;
    background: $page-background-even;
    margin: 2em auto;
    border-radius: 5px;
    padding: 1em;
    position: relative;

    button {
        display: none;
    }

    .loading-animation {
        display: none;
    }
}

.g-recaptcha {
    float: left;
}

form {
    width: 100%;
    margin: 0;
}

.unknown-error {
    display: none;
}

.contact-form-wrapper.waiting {
    form {
        filter: blur(2px);
    }

    .loading-animation {
        display: flex;
    }
}

.loading-animation {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -2em;
    margin-top: -0.5em;
    width: 4em;
    display: flex;
    justify-content: space-between;
    z-index: 2;

    & > div {
        width: 1em;
        height: 1em;
        background-color: #333;
        border-radius: 100%;
        display: inline-block;
        animation: loading-fade 1s infinite ease-in-out both;

        &:nth-child(2) {
            animation-delay: .2s;
        }
        
        &:nth-child(3) {
            animation-delay: .4s;
        }
    }
}

.credit {
    text-align: center;
    font-size: .8em;
    padding: .5em 0;
    background: $nav-hover-background;
}

.hover {
    .st1 {
        animation: multicolor-dark 6s infinite;
    }

    .st2 {
        animation: multicolor-light 6s infinite;
    }

    #shadow {
        opacity: 0;
        transition: 0.3s;
    }
}

#shadow,.st1,.st2 {
    transition: 0.3s;
}

@keyframes loading-fade {
    0% {opacity: 1}
    100% {opacity: 0}
}


@keyframes multicolor-light {
    0% {fill: rgb(238,160,165)}
    13% {fill: rgb(237,176,13)}
    25% {fill: rgb(226,237,13)}
    38% {fill: rgb(133,237,13)}
    50% {fill: rgb(13,237,195)}
    63% {fill: rgb(99,170,255)}
    75% {fill: rgb(203,160,238)}
}
@keyframes multicolor-dark {
    0% {fill: rgb(178,52,94)}
    13% {fill: rgb(178,132,10)}
    25% {fill: rgb(170,178,10)}
    38% {fill: rgb(100,178,10)}
    50% {fill: rgb(10,178,147)}
    63% {fill: rgb(75,128,192)}
    75% {fill: rgb(153,120,179)}
}


@media (max-width: 800px) {
    .header-wrapper.after-scroll {
        .nav {
            flex-wrap: wrap;
        }

        .nav li {
            width: 100%;
            display: none;

            &.selected {
                display: block;
                order: -1;
            }
        }

        .nav.open li {
            display: block;
            background: rgba(255,255,255,0.8);
            border-bottom: 1px solid #bbb;

            &:last-child {
                border-bottom: none;
            }

            &:hover {
                background-color: $nav-hover-background;
            }            
        }
    }
    
}

@media (max-width: 950px) {
    
    .page {
        padding-left: 12.5%;
        padding-right: 12.5%;
    }

    .header-wrapper.after-scroll {
        .social {
            display: none;
        }
        .logo {
            margin-left: calc(6.25% - #{$nav-logo-height}/2);
        }
    }
}
